*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/*
!/build/generated/
!/build/generated/openapi/
!/build/generated/openapi/src/
!/build/generated/openapi/src/main/
!/build/generated/openapi/src/main/kotlin/
!/build/generated/openapi/src/main/kotlin/**
/captures
.externalNativeBuild
.cxx
local.properties