*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
!network/
!network/build/
!network/build/generated/
!network/build/generated/openapi/
!network/build/generated/openapi/src/
!network/build/generated/openapi/src/main/
!network/build/generated/openapi/src/main/kotlin/
!network/build/generated/openapi/src/main/kotlin/**